{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
  {% if not post.draft %}
  last edited {% if post.twitter_handle or post.author %}by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
      {% endif %}{% endif %}
    around {{ post.pub_date }}
  {% endif %}
  </p>
  {% if post.draft %}
    <div class="box-draft-warning">
      <strong>Warning!</strong>
      This is a draft.
      The information listed here may be incomplete, stupid,
      and on average will have been composed on 3:00AM.  
    </div>
  {% endif %}
  {% if post.newbody %}
  {{ post.newbody }}
  {% else %}
  {{ post.body }}
  {% endif %}
  </div>
{% endmacro %}
