{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% for child in this.pagination.items %}
    <h2><a href="{{ child | url }}">{{ child.title }}</a></h2>
    {% if child.abstract %}
      <div class="abstract">
        {{ child.abstract }}
      </div>
    {% endif %}
  {% endfor %}

  {{ render_pagination(this.pagination) }}
{% endblock %}
